# Node.js modules
node_modules/

# Environment variables
src/.env

# Logs
*.log
logs/
*.log.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
jspm_packages/

# Coverage directory used by tools like istanbul
coverage/

# Build output
dist/
build/

# System files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
*.swp

# Temporary files
*.tmp
*.bak
*.swp

# Misc
*.pem
*.key
